
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Auth/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<div class="row" style="margin:66px 20px 40px 20px;padding:10px;">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="board">

            <div class="number">
                <a href="@Url.Action("CourseFinishAlert", "Default")">
                    @*<img src="~/Areas/assets/login/images/news-icon-12.png" style="width:90px;" />*@

                    <h4>Fee Alert</h4>
                </a>
            </div>

        </div>
    </div>
</div>