
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Auth/Views/Shared/Layout.cshtml";
}

<h2>DashBoard</h2>

<div class="row" style="margin:66px 20px 40px 20px;padding:10px;">
    <div class="col-md-3 col-xl-3">
        <a href="@Url.Action("CourseFinishAlert", "Default")">
            <div class="widget widget-tile">
                <div class="chart sparkline" id="spark1">
                    <div class="icon"><span class="mdi mdi-file-text"></span></div>
                </div>
                <div class="data-info">
                    <div class="desc">Course Alert</div>
                    <div class="value">
                        <span class="indicator indicator-equal mdi mdi-chevron-right"></span><span class="number" data-toggle="counter" data-end="113"></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-xl-3">
        <a href="@Url.Action("FeeAlert", "Default")">
            <div class="widget widget-tile">
                <div class="chart sparkline" id="spark1">
                    <div class="icon"><span class="mdi mdi-file-text"></span></div>
                </div>
                <div class="data-info">
                    <div class="desc">Report</div>
                    <div class="value">
                        <span class="indicator indicator-equal mdi mdi-chevron-right"></span><span class="number" data-toggle="counter" data-end="113"></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    
</div>